snippet fun
	function ${1:name}(${2:...})
		${0:$VISUAL}
	end
snippet for
	for ${1:i}=${2:1},${3:10} do
		${0:$VISUAL}
	end
snippet forp
	for ${1:i},${2:v} in pairs(${3:table_name}) do
		${0:$VISUAL}
	end
snippet fori
	for ${1:i},${2:v} in ipairs(${3:table_name}) do
		${0:$VISUAL}
	end
snippet if
	if ${1:true} then
		${0:$VISUAL}
	end
snippet ife
	if ${1:true} then
		${2:$VISUAL}
	else
		${0:-- else}
	end
snippet elif
	elseif ${1:true} then
		${0:$VISUAL}
